* {
  scrollbar-color: rgb(131, 126, 126) hsla(0, 0%, 0%, 0.1);
  scrollbar-width: thin;
}

.bg-received-msg-dark {
  background: #262d31;
}

.bg-sent-msg-dark {
  background: #056162;
}

.cursor-pointer {
  cursor: pointer;
}

.pos-rel {
  position: relative;
}

.h-100 {
  height: 100%;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: rgb(37, 37, 36);
}

::-webkit-scrollbar-thumb {
  background: rgb(161, 161, 161);
}

.info-date {
  color: #ff803b;
}

.bg-dark-orange-10 {
  background-color: #bb4200;
}
