* {
  scrollbar-color: rgb(131, 126, 126) hsla(0, 0%, 0%, 0.1);
  scrollbar-width: thin;
}

.bg-received-msg-dark {
  background: #262d31;
}

.bg-sent-msg-dark {
  background: #056162;
}

.cursor-pointer {
  cursor: pointer;
}
